<div class="row-fluid">
    <div class="span3">
        Commands
        <ul>
            <li><%= link_to "Users", manage_users_path, :remote => true %></li>
            <li><%= link_to "Departments", manage_departments_path, :remote => true %></li>
        </ul>
    </div>
    <div class="span9 yield">
    </div>
</div>
