<ul class="nav nav-tabs">
    <li><a href="#Un assigned tasks" data-toggle="tab">Un assigned tasks</a></li>
    <li><a href="#Stats" data-toggle="tab">Stats</a></li>
    <li><a href="#Notifications" data-toggle="tab">Notifications</a></li>
</ul>
